<a href="https://colab.research.google.com/github/AnirudhJBhatt/S1MCA/blob/master/CO1%26CO2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

CO1

2. Display future leap years from current year to a final year entered by user.

In [ ]:
cy=int(input("Enter the current year : "))
fy=int(input("Enter the ending year : "))
print("Leap years between",cy,"and",fy,"are : ",end=" ")
for  i in range(cy,fy):
  if (i%400==0) and (i%100==0):
    print(i)
  elif (i%4==0) and (i%100!=0):
    print(i,end=" ")

Enter the current year : 2020
Enter the ending year : 2030
Leap years between 2020 and 2030 are :  2020 2024 2028

3. List comprehensions:
(a) Generate positive list of numbers from a given list of integers
(b) Square of N numbers
(c) Form a list of vowels selected from a given word
(d) List ordinal value of each element of a word (Hint: use ord() to get ordinal values)

In [ ]:
l=[int(i) for i in input("Enter elements : ").split()]
l_p=[i for i in l if i>=0]
print("List of +ve numbers : ",l_p)

Enter elements : -5 -4 -3 -2 -1 0 1 2 3 4 5
List of +ve numbers :  [0, 1, 2, 3, 4, 5]

In [ ]:
n=int(input("Enter no of terms : "))
sq_list=[i*i for i in range(n)]
print("List of square of N numbers : ",sq_list)

Enter no of terms : 5
List of square of N numbers :  [0, 1, 4, 9, 16]

In [ ]:
c=input("Enter a word : ")
v_list=[i for i in c if i in "AEIOUaeiou"]
print("List of vowels : ",v_list)

Enter a word : Hello
List of vowels :  ['e', 'o']

In [ ]:
x=input("Enter a word : ")
o_list=[ord(i) for i in x]
print("List of ordinal values : ",o_list)

Enter a word : Hello
List of ordinal values :  [72, 101, 108, 108, 111]

4. Count the occurrences of each word in a line of text.

In [ ]:
str=input("Enter a line : ")
l=[]
l=str.split();
wc=[l.count(i) for i in l]
print("Occurences = ",dict(zip(l,wc)))

Enter a line : hello world this is python programming python is simple and powerful
Occurences =  {'hello': 1, 'world': 1, 'this': 1, 'is': 2, 'python': 2, 'programming': 1, 'simple': 1, 'and': 1, 'powerful': 1}

5. Prompt the user for a list of integers. For all values greater than 100, store ‘over’ instead.

In [ ]:
l=[int(i) for i in input("Enter elements : ").split()]
new_l=['over' if i>100 else i for i in l]
print("Result : ",new_l)

Enter elements : 50 100 150 200 75
Result :  [50, 100, 'over', 'over', 75]

6. Store a list of first names. Count the occurrences of ‘a’ within the list

In [ ]:
names=[i for i in input("Enter the names : ").split()]
sm_names=[i.lower() for i in names]
for i in sm_names:
  print("'a' repeats in ",i,i.count('a')," times")

Enter the names : Anirudh Suraj Vishwesh Shivani Srinidhi
'a' repeats in  anirudh 1  times
'a' repeats in  suraj 1  times
'a' repeats in  vishwesh 0  times
'a' repeats in  shivani 1  times
'a' repeats in  srinidhi 0  times

7. Enter 2 lists of integers. Check
(a) Whether list are of same length
(b) whether list sums to same value
(c) whether any value occur in both

In [ ]:
l1=[]
l2=[]
n1=int(input("Enter the size of list 1 : "))
print("Enter list 1 : ")
for i in range(n1):
  i=int(input())
  l1.append(i)
n2=int(input("Enter the size of list 2 : "))
print("Enter list 2 : ")
for i in range(n2):
  i=int(input())
  l2.append(i)

if n1==n2:
  print("Lists are of same length")
else:
  print("Lists are of diffferent length")


if sum(l1)==sum(l2):
  print("Sum of lists are of same")
else:
  print("Sum of lists are diffferent")

res=[i for i in l1 if i in l2]
print("Common elements : ",res)

Enter list 1 elements : 10 20 30 40 50
Enter list 1 elements : 10 25 30 45 50
Lists are of same length
Sum of lists are diffferent
Common elements :  [10, 30, 50]

In [ ]:
l1=[int(i) for i in input("Enter list 1 elements : ").split()]
l2=[int(i) for i in input("Enter list 1 elements : ").split()]

if len(l1)==len(l2):
  print("Lists are of same length")
else:
  print("Lists are of diffferent length")


if sum(l1)==sum(l2):
  print("Sum of lists are of same")
else:
  print("Sum of lists are diffferent")

res=[i for i in l1 if i in l2]
print("Common elements : ",res)

Enter list 1 elements : 10 20 30 40 50
Enter list 1 elements : 10 25 30 45 50
Lists are of same length
Sum of lists are diffferent
Common elements :  [10, 30, 50]

In [ ]:

n1=int(input("Enter the size of list 1 : "))
print("Enter list 1 : ")
l1=[int(input()) for i in range(n1)]

n2=int(input("Enter the size of list 2 : "))
print("Enter list 2 : ")
l2=[int(input()) for i in range(n2)]

if n1==n2:
  print("Lists are of same length")
else:
  print("Lists are of diffferent length")


if sum(l1)==sum(l2):
  print("Sum of lists are of same")
else:
  print("Sum of lists are diffferent")

res=[i for i in l1 if i in l2]
print("Common elements : ",res)

Enter the size of list 1 : 5
Enter list 1 :
10
20
30
40
50
Enter the size of list 2 : 5
Enter list 2 :
10
25
30
45
50
Lists are of same length
Sum of lists are diffferent
Common elements :  [10, 30, 50]

In [ ]:
l2=[int(input()) for i in range(5)]
l2

12
12
12
12
2

[12, 12, 12, 12, 2]

8. Get a string from an input string where all occurrences of first character replaced with ‘$’, except first character. [eg: onion -> oni$n]

In [ ]:
str1=input("Enter a word : ")
f_c=str1[0]
str1=str1.replace(f_c,'$')
str1=f_c+str1[1:]
print("Replaced string : ",str1)

Enter a word : anirudhjbhatt
Replaced string :  anirudhjbh$tt

9. Create a string from given string where first and last characters exchanged. [eg: python -> nythop]

In [ ]:
name=input("Enter a name : ")
print("Result :",name[-1]+name[1:-1]+name[0])

Enter a name : Anirudh
Result : hnirudA

10. Accept the radius from user and find area of circle.

In [ ]:
r=float(input("Enter the radius : "))
print("Area : ",3.14*r*r)

Enter the radius : 100
Area :  31400.0

11. Find biggest of 3 numbers entered.

In [ ]:
a=int(input("Enter the first number : "))
b=int(input("Enter the second number : "))
c=int(input("Enter the third number : "))
if a>b and a>c:
  print(a, "is the largest number")
elif b>a and b>c:
  print(b, "is the largest number")
else:
  print(c, "is the largest number")

Enter the first number : 10
Enter the second number : 20
Enter the third number : 30
30 is the largest number

In [ ]:
a=int(input("Enter the first number : "))
b=int(input("Enter the second number : "))
c=int(input("Enter the third number : "))
print("Largest number is : ",max(a,b,c))

Enter the first number : 10
Enter the second number : 20
Enter the third number : 30
Largest number is :  30

12. Accept a file name from user and print extension of that

In [ ]:
f_name=input("Enter a filename : ")
f_ext=f_name.split(".")
print("Extension : ",f_ext[-1])

Enter a filename : PGM12.py
Extension :  py

13. Create a list of colors from comma-separated color names entered by user. Display first and last colors.

In [ ]:
n=int(input("Enter the size of the list : "))
colors=[input() for i in range(n)]
print("First color : ",colors[0]," Last color : ",colors[-1])

Enter the size of the list : 5
Red
Yellow
Green
Violet
Pink
First color :  Red  Last color :  Pink

In [ ]:
colors=[i for i in input("Enter the colors : ").split()]
print("First color : ",colors[0],"\nLast color : ",colors[-1])

Enter the colors : Red Yellow Green Blue Violet
First color :  Red
Last color :  Violet

14. Accept an integer n and compute n+nn+nnn

In [ ]:
n=3
s=n+n*11+n*111
s

369

In [ ]:
n=int(input("Enter a number : "))
print(n+n*n+n*n*n)

Enter a number : 3
39

In [ ]:
n=int(input("Enter a number : "))
print("Result :",n+n*11+n*111)

Enter a number : 5
Result :  615

15. Print out all colors from color-list1 not contained in color-list2

In [ ]:
c1=[i for i in input("Enter the colors list 1 : ").split()]
c2=[i for i in input("Enter the colors list 2: ").split()]
res=[i for i in c2 if i not in c1]
print("Colors from color-list 1 not in colo-list 2 : ",res)

Enter the colors list 1 : Red Yellow Green Blue Violet
Enter the colors list 2: Red Pink Green Magenta Violet
Colors from color-list 1 not in colo-list 2 :  ['Pink', 'Magenta']

16. Create a single string separated with space from two strings by swapping the character at position 1.

In [ ]:
s1=input("Enter string 1 : ")
s2=input("Enter string 2 : ")
s3=s2[0]+s1[1:]+" "+s1[0]+s2[1:]
print("Swapped string :",s3)

Enter string 1 : Hello
Enter string 2 : World
Swapped string : Wello Horld

17. Sort dictionary in ascending and descending order.

In [ ]:
d = {'Anirudh': 10, 'Shivani': 20,'Srinidhi': 30, 'Aryan': 40, 'Suraj': 50}
print("Ascending order : ",dict(sorted(d.items())))
print("Descending order : ",dict(sorted(d.items(), reverse=True)))

Ascending order :  {'Anirudh': 10, 'Aryan': 40, 'Shivani': 20, 'Srinidhi': 30, 'Suraj': 50}
Descending order :  {'Suraj': 50, 'Srinidhi': 30, 'Shivani': 20, 'Aryan': 40, 'Anirudh': 10}

18. Merge two dictionaries.

In [ ]:
d1 = {'Anirudh': 10,'Vishwesh': 20, 'Suraj': 30}
d2 = {'Shivani': 20,'Srinidhi': 40, 'Saubhagya': 50}
print("Merged dictionaries :",d1|d2)

Merged dictionaries : {'Anirudh': 10, 'Vishwesh': 20, 'Suraj': 30, 'Shivani': 20, 'Srinidhi': 40, 'Saubhagya': 50}

19. Find gcd of 2 numbers.

In [ ]:
import math
x=int(input("Enter the first number : "))
y=int(input("Enter the second number : "))
print("GCD : ",math.gcd(x,y))

Enter the first number : 10
Enter the second number : 20
GCD :  10

20. From a list of integers, create a list removing even numbers.

In [ ]:
l=[int(i) for i in input("Enter integers : ").split()]

# for i in l:
#   if i%2==0:
#     l.remove(i)
l=[i for i in l if i%2!=0]
print("List after removal of even numbers : ",l)

Enter integers : 1 2 3 4 5 6 7 8 9 10
List after removal of even numbers :  [1, 3, 5, 7, 9]

CO2

1. Program to find the factorial of a number

In [ ]:
def fact(x):
  if x==1:
    return 1
  else:
    return x*fact(x-1)
x=int(input("Enter the number : "))
print("Factorial : ",fact(x))

Enter the number : 5
Factorial :  120

2. Generate Fibonacci series of N terms

In [ ]:
n=int(input("Enter the no of terms : "))
a=0
b=1
c=a+b
print("Fibonacci series : ",a,b,c,end=" ")
for i in range(3,n):
  a=b
  b=c
  c=a+b
  print(c,end=" ")

Enter the no of terms : 5
Fibonacci series :  0 1 1 2 3

3. Find the sum of all items in a list

In [ ]:
l=[int(i) for i in input("Enter elements : ").split()]
print("Sum of elements : ",sum(l))

Enter elements : 10 20 30 40 50
Sum of elements :  150


4. Generate a list of four digit numbers in a given range with all their digits even and the number is a perfect square.

In [ ]:
res=[]
for i in range(1000,10000):
    if all(int(x)%2==0 for x in str(i)):
        if int(i**0.5)**2==i:
            res.append(i)
print("List of numbers : ",res)

List of numbers :  [4624, 6084, 6400, 8464]

5. Display the given pyramid with step number accepted from user.

Eg: N=4

1

2 4

3 6 9

4 8 12 16

In [ ]:
n=int(input("Enter the no of rows : "))
for i in range(1,n+1):
  for j in range(1,i+1):
    print(i*j,end=" ")
  print()

Enter the no of rows : 4
1
2 4
3 6 9
4 8 12 16

6. Count the number of characters (character frequency) in a string.

In [ ]:
str=input("Enter a string : ")
l=[]
l=str.split();
wc=[l.count(i) for i in l]
print(dict(zip(l,wc)))

Enter a line : Hello world this is python programming  python is simple
{'Hello': 1, 'world': 1, 'this': 1, 'is': 2, 'python': 2, 'programming': 1, 'simple': 1}

In [ ]:
str1=input("Enter a string : ")
wc=[str1.count(i) for i in str1]
print(dict(zip(str1,wc)))

Enter a string : Muthoot Institute of Technology and Science
{'M': 1, 'u': 2, 't': 5, 'h': 2, 'o': 5, ' ': 5, 'I': 1, 'n': 4, 's': 1, 'i': 2, 'e': 4, 'f': 1, 'T': 1, 'c': 3, 'l': 1, 'g': 1, 'y': 1, 'a': 1, 'd': 1, 'S': 1}

7. Add ‘ing’ at the end of a given string. If it already ends with ‘ing’, then add ‘ly’

In [ ]:
str1=input("Enter a string : ")
if str1.endswith('ing'):
  str2=str1+'ly'
else:
  str2=str1+'ing'
print("String :",str2)

Enter a string : String
String : Stringly

8. Accept a list of words and return length of longest word.

In [ ]:
# n=int(input("Enter the size of the list : "))
# print("Enter list : ")
# a=[input() for i in range(n)]
l=[i for i in input("Enter the words : ").split()]

max=len(l[0])
temp=l[0]
for i in l:
  if len(i)>max:
    max=len(i)
    temp=i
print("Word with max length is",temp,"It's length is",max)

Enter the words : Anirudh Vishwesh Suraj Shivani Srinidhi
Word with max length is Vishwesh It's length is 8

9. Construct following pattern using nested loop

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
n=int(input("Enter the no of rows : "))
for i in range(1,n+1):
  print('*'*i)
for i in range(n-1,0,-1):
  print('*'*i)

Enter the no of rows : 5
*
**
***
****
*****
****
***
**
*

In [ ]:
n=int(input("Enter the no of rows : "))
for i in range(n):
  for j in range(i+1):
    print("*", end=" ")
  print("\n")

for i in range(n-1,0,-1):
   for j in range(0,i):
     print("*", end=" ")
   print("\n")

Enter the no of rows : 5
*

* *

* * *

* * * *

* * * * *

* * * *

* * *

* *

*

10. Generate all factors of a number.

In [ ]:
def facts(x):
  print("Factors of ",x," are : ",end=" ")
  for i in range(1,x+1):
    if(x%i==0):
      print(i,end=" ")
n=int(input("Enter a number : "))
facts(n)

Enter a number : 5
Factors of  5  are :  1 5

11. Write lambda functions to find area of square, rectangle and triangle.

In [ ]:
area1=lambda a: a*a
area2=lambda l,b: l*b
area3=lambda b,h: 0.5*(b*h)

s=int(input("Enter the side of square : "))
print("Area of square : ",area1(s))

l=int(input("Enter the length of rectangle : "))
b=int(input("Enter the breadth of rectangle : "))
print("Area of rectangle : ",area2(l,b))

b=int(input("Enter the base of triangle : "))
h=int(input("Enter the height of triangle : "))
print("Area of triangle : ",area3(b,h))

Enter the side of square : 5
Area of square :  25
Enter the length of rectangle : 10
Enter the breadth of rectangle : 20
Area of rectangle :  200
Enter the base of triangle : 10
Enter the height of triangle : 20
Area of triangle :  100.0

In [ ]:
l=[int(i) for i in input("Enter elements : ").split()]
print(l)

Enter elements : 1 2 3 4 5 6 7 8 9 10
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]